body {
  scroll-behavior: smooth;
  background-color: #000000;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  width: 100%;
}

.container-fluid h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.navbar-link {
  justify-content: end;
  padding-right: 1rem;
}

.navbar-nav a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* SLIDER */
.slider {
  box-shadow: inset 0em 1em #09929c;
}

/* QUIENES SOMOS */
.quienes-somos {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 50vh;
}

.quienes-somos h2 {
  padding-bottom: 2rem;
  font-family: "Poppins", sans-serif;
}

.quienes-somos p {
  font-family: "Poppins", sans-serif;
  padding-top: 5px;
}

.quienes-somos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quienes-somos-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  text-align: center;
  background-color: #09929c;
  width: 100%;
  padding: 0.5rem;
}

/* Destacados */
.destacados {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  padding: 2rem;
  margin-bottom: 2rem;
  height: 50vh;
}

.destacados h2 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding-bottom: 2rem;
}

.card {
  border-width: 0px;
}

.card img {
  height: 200px;
}

.container-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-body {
  background-color: #09929c;
}

.card-body p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

/* CONTACTO */
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  height: 50vh;
  margin-bottom: 2rem;
}

.contacto h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.contacto form div label {
  font-family: "Poppins", sans-serif;
}

.contacto form button {
  font-family: "Poppins", sans-serif;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  background-color: #09929c;
}

footer h3 {
  font-family: "Poppins", sans-serif;
}

footer div {
  display: flex;
  gap: 10px;
  font-size: 2rem;
}

/* RESPONSIVE */

@media (max-width: 800px) {
  .navbar {
    position: static;
  }

  .quienes-somos {
    margin: 15% 0%;
    height: 100%;
  }

  .quienes-somos-container {
    flex-wrap: wrap;
  }

  .destacados {
    height: 100%;
    margin: 15% 0%;
  }

  .quienes-somos-container div {
    margin: 20px 0px;
  }

  .quienes-somos-container div .icon {
    margin: 0px;
  }

  .container-cards {
    flex-wrap: wrap;
  }

  .contacto {
    height: 70vh;
  }
}
